.App {
	text-align: center;
	background: rgb(243, 202, 149);
	display: flex;
	justify-content: space-evenly;

	.button {
		font-size: 24px;
		text-align: center;
		cursor: pointer;
		outline: none;
		border: none;
		border-radius: 15px;
	}
}
